.DS_STORE
nginx/logs
graphdb/license/
nginx/letsencrypt/local-certs/*
nginx/sites/faceted-search/
nginx/sites/kw-panels/
nginx/sites/node-browser/
services/
graphdb/nginx/*
grafana/persistent_config
*drawio.bkp
*.png.bkp